<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.elm.sa/ar/Pages/default.aspx">
                        Elm Website
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/elm?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                       Twitter
                    </a>
                </li>
                <li>
                    <a href="https://ae.linkedin.com/company/elm">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{date | date: 'yyyy'}}, made by <a href="https://github.com/Abdullah-Mubark/">Abdullah Almubark</a>
        </div>
    </div>
</footer>
