<div class="container-fluid">
    <!-- Search bar start -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Upload Records</h4>
                    <p class="category">This will populate the network with demo data.</p>
                </div>
                <div class="content">

                    <div class="row">
                        <div class="col-sm-3 col-xs-12 col-lg-3">
                            <button class="btn btn-primary" (click)="populateNetwork()">Fill Nework with Data</button>
                        </div>
                    </div>

                </div>
                <div class="footer">
                    <hr>
                </div>
            </div>
        </div>
    </div>


</div>